<template>
  <div>
    <div class="row col">
      <h1>Twitter</h1>
    </div>

    <div class="row col">
      <form class="form-inline">
        <div class="form-group mr-2">
          <input
            v-model="text"
            type="text"
            class="form-control"
            title="New Tweet"
            placeholder="What's happening?"
          >
        </div>
        <button
          :disabled="text.length === 0 || isLoading"
          type="button"
          class="btn btn-primary"
          @click="publishTweet()"
        >
          Publish
        </button>
      </form>
    </div>

    <div
      v-if="isLoading"
      class="row col"
    >
      <p>Loading...</p>
    </div>

    <div
      v-else-if="hasError"
      class="row col"
    >
      <div
        class="alert alert-danger"
        role="alert"
      >
        {{ error }}
      </div>
    </div>

    <div
      v-else-if="!hasTweets"
      class="row col"
    >
      No tweets!
    </div>

    <div
      v-for="tweet in tweets"
      v-else
      :key="tweet.id"
      class="row col"
    >
      <tweet :tweet="tweet" />
    </div>
  </div>
</template>

<script>
import Tweet from "../components/Tweet";

export default {
  name: "Tweets",
  components: {
    Tweet
  },
  data() {
    return {
      text: ""
    };
  },
  computed: {
    isLoading() {
      return this.$store.getters["tweet/isLoading"];
    },
    hasError() {
      return this.$store.getters["tweet/hasError"];
    },
    error() {
      return this.$store.getters["tweet/error"];
    },
    hasTweets() {
      return this.$store.getters["tweet/hasTweets"];
    },
    tweets() {
      return this.$store.getters["tweet/tweets"];
    },
    currentUser() {
      return this.$store.getters["user/currentUser"];
    }
  },
  created() {
    this.$store.dispatch("tweet/findAll", this.currentUser.uuid);
  },
  methods: {
    async publishTweet() {
      const result = await this.$store.dispatch("tweet/publish", {
        author: this.currentUser,
        text: this.text
      });
      if (!result) {
        this.text = "";
      }
    }
  }
};
</script>
