<template>
  <div class="card w-100 mt-2">
    <div
      v-if="tweet"
      class="card-body"
    >
      <p><strong>@{{ tweet.author.username }}</strong> · {{ tweet.created_at | fromNow }} </p>
      {{ tweet.text }}
    </div>
  </div>
</template>

<script>
export default {
  name: "Tweet",
  props: {
    tweet: {
      type: Object,
      default: () => {
        return {
          created_at: null,
          author: {
            username: '',
          }
        }
      }
    }
  }
};
</script>
